<!-- Image and text -->
<div class="map-container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_target_icon.png" width="32" height="32"
                class="d-inline-block align-top" alt="">
            Radius
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- 
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                 -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group mr-sm-2">
                    <select (change)="getMapStyles($event.target.value)" class="form-control"
                        id="exampleFormControlSelect1">
                        <option value="1">Open Street Map</option>
                        <option value="2">Light Minimal</option>
                        <option value="3">Dark Minimal</option>
                        <!-- <option value="4">Toner</option> -->
                        <option value="5">World Street Map</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text">Map style</span>
                    </div>
                </div>
                <div class="input-group mr-sm-2">
                    <input type="text" (keyup)="setRadiusMarker($event.target.value)" value="{{radiusMeters / 1000}}"
                        placeholder="Radius range" class="form-control" aria-label="Radius in KiloMeters">
                    <div class="input-group-append">
                        <span class="input-group-text">km</span>
                        <button (click)="getUserLocation()" class="btn btn-outline-info" type="button">
                            <img src="https://cdn4.iconfinder.com/data/icons/business-finance-vol-13-1/512/15-512.png"
                                width="18" height="18" />
                        </button>
                    </div>
                </div>
                <div class="input-group mr-sm-2">
                    <div class="input-group-append">
                        <button (click)="trackMyLocation()" class="btn {{trackMe ? 'btn-info' : 'btn-outline-info'}}" type="button">Track me</button>
                    </div>
                </div>
                <!-- 
                <div class="input-group mr-sm-2">
                    <input class="form-control" type="search" placeholder="Origin" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button">Set</button>
                        <button (click)="getUserLocation()" class="btn btn-outline-info" type="button">
                            <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_my_location_48px-512.png"
                                width="18" height="18" />
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Destination" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button">Pin</button>
                    </div>
                </div>
                 -->
            </form>
        </div>
    </nav>
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>