<!-- Image and text -->
<div class="map-container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img id="logo"
                src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_target_icon.png"
                width="32" height="32" class="d-inline-block align-top" alt="">
            Radius
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- 
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                 -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group mr-sm-2 mb-2">
                    <select (change)="getMapStyles($event.target.value)" class="form-control"
                        id="exampleFormControlSelect1">
                        <option value="1" selected="{{selectedMap ? true : false}}">Open Street Map</option>
                        <option value="2" selected="{{selectedMap ? true : false}}">Light Minimal</option>
                        <option value="3" selected="{{selectedMap ? true : false}}">Dark Minimal</option>
                        <!-- <option value="4" selected="{{selectedMap ? true : false}}">Toner</option> -->
                        <option value="5" selected="{{selectedMap ? true : false}}">World Street Map</option>
                        <!-- <option value="6" selected="{{selectedMap ? true : false}}">Stadia Bright</option> -->
                        <!-- <option value="7">Toner Light</option> -->
                        <option value="8" selected="{{selectedMap ? true : false}}">World Topo Map</option>
                        <option value="9" selected="{{selectedMap ? true : false}}">World Imagery</option>
                        <option value="10" selected="{{selectedMap ? true : false}}">Voyager</option>
                        <!-- <option value="11">Hike Bike</option> -->
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text">Map style</span>
                    </div>
                </div>
                <div class="input-group mr-sm-2 mb-2">
                    <div class="input-group-append">
                        <input type="text" (keyup)="setRadiusMarker($event.target.value)"
                            value="{{radiusMeters / 1000}}" placeholder="Radius range" size="1" class="form-control"
                            aria-label="Radius in KiloMeters">
                        <span class="input-group-text">km</span>
                    </div>
                    <input type="text" (keyup)="searchPlaces($event.target.value)" placeholder="radius from here.."
                        class="form-control" aria-label="Origin" id="originInput">
                </div>
                <div class="input-group mr-sm-2 mb-2">
                    <button (click)="trackMyLocation()" class="btn btn-block {{trackMe ? 'btn-danger' : 'btn-info'}}"
                        type="button">{{trackMe ? 'Stop tracking' : 'Track me'}}</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>
<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>