/* You can add global styles to this file, and also import other style files */


/* Firefox old*/
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.blink-image {
  -moz-animation: blink normal 1s infinite ease-in-out;
  /* Firefox */
  -webkit-animation: blink normal 1s infinite ease-in-out;
  /* Webkit */
  -ms-animation: blink normal 1s infinite ease-in-out;
  /* IE */
  animation: blink normal 1s infinite ease-in-out;
  /* Opera and prob css3 final iteration */
}

.pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0;
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
